.sidbar-contaner{
    height:100vh ;
    flex: 1;
    background: rgb(224, 224, 224);
    position: sticky;
    
}
.sidbar{
    margin-left: 20px;
}
.sid-title{
    color: rgb(150, 147, 147);
    margin-top: 12px;
    font-size: 12px;
}

.sid-item-li{
    list-style: none;
    width: 80%;
    margin-top: 3px;
    padding: 1.4px;
    font-size: 16px;
    font-weight: 450;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgb(78, 77, 77);
}
.sidmenu{
 margin-top: 18px;
}
.sid-item{
     display: flex;
     flex-direction: column;
    justify-content: center;
    margin-left: 10px;

}
.sid-item-li.active, .sid-item-li:hover{
    background: rgb(209, 209, 209);
    border-radius: 10px;
}
