.lst-contaner {
    margin: 30px 20px ;
    padding: 10px 0px 10px 10px;
    box-shadow: 0 0 14px -5px rgba(0, 0, 0, 0.60);
    border-radius: 8px;
}

.lst-form {
    width: 100%;
    border-spacing: 20px;
    /* text-align: left; */
}

.lst-title {
    font-size: 20px;
    margin-right: 20px;
}

.customer-td{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px; 
}          
.lst-userName{
    margin-left: 8px;
    font-weight: 500;
}   
.lst-button{
    border: none;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.lst-button.Approved{
    font-size: 15px;
    background: rgba(4, 129, 46, 0.753);
    color: white;
    font-weight: 200;
}
.lst-button.Declined{
    font-size: 15px;
    background: rgba(146, 5, 12, 0.747);
    color: white;
    font-weight: 200;
}
.lst-button.Pending{
    font-size: 15px;
    background: rgba(10, 71, 124, 0.795);
    color:white;
    font-weight: 200;
}