.fiture-contaner{
    margin: 15px;
    padding: 30px;
    box-shadow: 0 0 14px -5px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
    
}
.fiture-contaner:hover{
    transform: rotateY(2px);
    transition: all 0.1s linear;
    box-shadow: 0 0 28px -9px rgba(0, 0, 0, 0.95);
}
.fiture{
}
.fiture-title{
    font-size: 20px;
    font-weight:450;
}
.fiture-other{
    display: flex;
    align-items: center;
}
.fiture-price{
    font-size: 30px;
    font-weight: 600;

}
.fiture-sum{
    display: flex;
    align-items:center;
    margin:20px 30px;

    font-size:15px ;
}
.fiture-icon{
    font-size: 30px;
    
    color: green;
}
.fiture-footer{
    font-size: 13px;
    color: gray;
}