.Data-grid-contaner{
padding: 50px;
background: rgb(233, 229, 229);

}

.user-Div{
display: flex;
align-items: center;
}
.Usr-img{
    width: 35px;
    border-radius: 50%;
    margin-right: 8px;
}
.action-div{
    display: flex;
    align-items: center;
}
.action-button{
    font-size: 12px;
    border: none;
    background-color: rgba(28, 148, 78,0.9);
    padding: 8px 10px;
    border-radius: 10px;
    color: aliceblue;
    margin-right: 10px;
    cursor: pointer;
}
.action-icon{

    color: red;
    font-weight: 600;
    font-size: 30px !important;
    cursor: pointer;

}