@font-face {
  font-family: lalezar;
  src: url(../public/Font/Lalezar.woff);
  src: url(../public/Font/Lalezar.ttf);
  src: url(../public/Font/Lalezar-Regular.ttf);
}


body {
  direction: rtl;
  margin: 0;
  font-family:"lalezar", 'iransana', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(219, 219, 219);
  background: #353535;
  font-weight: 100;
}
.Boxxx{
  color: #353535;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}